@font-face {
    font-family: "DIN Condesed";
    src: url("/fonts/DIN Medium.ttf");
}

@font-face{
    font-family: "";
    src: url()
}

body{
    font-family: "DIN Condensed", sans-serif;
    color: white;
    background-color: white;
}

@media (prefers-color-scheme: light) {
    body{
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
        color: white;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    /* background-color: black; */
}


.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: dark;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-x: auto;
    gap: 2px
}

.box{
    width: 293px;
    height: 588px;
    max-width: 293px;
    height: 588px;
    min-width: 50px;
    transition: all 0.4s ease; /* This is where we apply the smooth transition s*/
}

/* .box:hover{
    filter: grayscale(100%) blur(5px); /* Here is where we make the image get blurred when we hover */
/* } */  */

.blurred {
    position: relative;
}

.first{
    background-image: url('./images/image1.jpeg');
    background-size: cover;
    background-position: center;
}

.second{
    background-image: url('./images/image2.jpeg');
    background-size: cover;
    background-position: center;
}

.third{
    background-image: url('./images/image3.jpeg');
    background-size: cover;
    background-position: center;
}

.fourth{
    background-image: url('./images/image4.jpeg');
    background-size: cover;
    background-position: center;
}

.inside-box{
    position: relative;
    z-index: 2;
}

.inside-box{
    position: absolute;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    height: 90%;
}

@media (max-width: 768px){
    .animal,
    .country,
    .knowmore {
        dsiplay: none !important;
    }
}

.animal{
    font-family: DIN Condensed;
    font-size: 38px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    width: 213;
    /* height: 60px; */
    padding-left: 2px;
    flex-wrap: wrap;
    color: white;
}

.country{
    padding-top: 15px;
    font-family: Poppicenterns;
    color: white;
}

.knowmore {
    display: none;
    color: rgb(60, 188, 230) !important;
    font-family: Poppins;
}

.animal:hover .knowmore {
    display: block
}
